.lyricLine {
  width: 100%;
  text-align: center;
  position: absolute;
  padding: 12px;
  background-color: rgba(0, 0, 0, .33);
  border-radius: 12px;
}

.currentLyric {
  top: 40%; /* Center the current lyric */
  transform: translateY(-50%);
}

.nextLyric {
  top: 75%; /* Place next lyric below current lyric */
  transform: translateY(-50%);
}