services:
  nginx:
    image: martinjuul/baander-nginx:latest
    container_name: baander-nginx
    build:
      context: ./docker/
      args:
        BUILD_ARGUMENT_ENV: dev
      dockerfile: ./nginx/Dockerfile
    restart: unless-stopped
    ports:
      - "${WEB_PORT_HTTP}:80"
      - "${WEB_PORT_TLS}:443"
    networks:
      - baander-backtier
    volumes:
      - ./:/var/www/html:ro,cached
      - ./docker/dev/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./cert.pem:/etc/nginx/certificates/cert.pem:ro
      - ./key.pem:/etc/nginx/certificates/key.pem:ro
    depends_on:
      - app

  app:
    image: martinjuul/baander-app:latest
    container_name: baander-app
    build:
      context: .
      args:
        BUILD_ARGUMENT_ENV: dev
        HOST_UID: ${HOST_UID}
        HOST_GID: ${HOST_GID}
        XDEBUG_CONFIG: ${XDEBUG_CONFIG}
        XDEBUG_VERSION: ${XDEBUG_VERSION}
      dockerfile: ./Dockerfile
    ulimits:
      nofile:
        soft: 10000
        hard: 10000
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    volumes:
      - /mnt/c/baander-library:/storage/baander-library
      - ./:/var/www/html:cached
      - ./docker/general/supervisord.conf:/etc/supervisor/conf.d/supervisord.conf:ro
    networks:
      - baander-backtier

  postgres:
    container_name: baander-postgres
    build:
      context: ./docker/
      dockerfile: ./postgres/Dockerfile
      args:
        PGROONGA_VERSION: 4.0.5-1
        POSTGRESQL_VERSION: 18
    restart: unless-stopped
    networks:
      - baander-backtier
    ports:
      - "5432:5432"
    shm_size: 256mb
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
      PGDATA: /var/lib/postgresql/data/baanderdev
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/postgres/conf/postgresql.conf:/etc/postgresql/postgresql.conf:ro
    command: >
      postgres
      -c config_file=/etc/postgresql/postgresql.conf
      -c logging_collector=on
      -c log_directory=/var/log/postgresql
      -c log_filename=postgresql-%Y-%m-%d_%H%M%S.log
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    image: redis/redis-stack-server:edge
    container_name: baander-redis
    restart: unless-stopped
    networks:
      - baander-backtier
    ports:
      - "127.0.0.1:6379:6379"

volumes:
  postgres_data:
    driver: local

networks:
  baander-backtier:
    name: baander-backtier
    external: true
