<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory="vendor/_phpunit"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="OAUTH_ENCRYPTION_KEY" value="V9jSj0PPnIaD1sTorO9do45e50M7tHjuThLZ+xx2mu8="/>
        <env name="OAUTH_PRIVATE_KEY" value="/var/www/html/storage/test/oauth-private.key"/>
        <env name="OAUTH_PUBLIC_KEY" value="/var/www/html/storage/test/oauth-public.key"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>