.eqButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

.eqPowerButton {
  background-color: #19181e;
  color: orange;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  width: 3em;
  height: 2em;
  transition: background-color 0.2s ease-in-out;
}

.eqPowerLabel {
  color: orange;
  font-size: 0.75em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.25em;
}