.vfdDisplayContainer {
  background-color: #0b0b0e;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  position: relative;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    background: linear-gradient(
                    rgba(18, 16, 16, 0) 50%,
                    rgba(0, 0, 0, 0.25) 50%
    ),
    linear-gradient(
                    90deg,
                    rgba(255, 0, 0, 0.06),
                    rgba(0, 255, 0, 0.02),
                    rgba(0, 0, 255, 0.06)
    );
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
  }
}

.vfdAnalyzersRow {
  padding: 0 1.25em;
  display: flex;
  flex: 1;
  gap: 2em;
  align-items: center;
}

.vfdControls {
  display: flex;
  gap: 1em;
  padding: 0.25em 1.25em;
}

.vfdControl {
  color: #062626;
  font-size: 1em;
  font-weight: bold;
  text-shadow: none;

  &.active {
    color: #1caeae;
    text-shadow: 0 0 10px #1caeae;
  }
}

.vfdControlRed {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #250c06;
  text-shadow: none;

  &.active {
    color: #9c341a;
    text-shadow: 0 0 10px #9c341a;
  }
}