.socketConnection {
  width: 12px;
  height: 12px;
  background-color: rgba(14, 165, 233, 0.6);
  border-radius: 15px;
  transition: background-color 250ms ease-in-out;

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  &.connecting, &.initialized {
    background-color: #0ea5e9;
    animation: pulse 1s infinite;
  }

  &.connected {
    background-color: rgba(119, 206, 123, 0.6);
    animation: none;
  }

  &.failed, &.unavailable, &.disconnected {
    background-color: rgba(206, 110, 121, 0.6);
    animation: none;
  }
}