.songListTable {
  height: calc(100vh - 260px);
  //border-bottom: 1px solid #e0dddd;
}

.scrollList {
  //border-right: 1px solid #e0dddd;
  //border-bottom: 1px solid #e0dddd;
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100%;
  height: calc(100vh - 260px);
  position: relative;

  .title {
    margin-left: 3px;
  }

  table {
    border-spacing: unset;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }


  th {
    background-color: var(--red-1);
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 6px;
    text-align: center;
    font-weight: var(--font-weight-bold);
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td {
    padding: 6px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  tbody tr:hover {
    background-color: var(--accent-2);
  }
}

.listItem {
  cursor: pointer;
}

.titleCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleCellNowPlayingIcon {
  color: var(--accent-8);
  margin-right: 8px;
}

.titleCellTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollbar {
  --sb-track-color: 'transparent';
  --sb-thumb-color: #828282;
  --sb-size: 6px;
}

.scrollbar::-webkit-scrollbar {
  width: var(--sb-size)
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar {
    scrollbar-color: var(--sb-thumb-color)
    var(--sb-track-color);
  }
}
