:root, .light, .light-theme {
    --red-1: #fefbfa;
    --red-2: #fdf7f5;
    --red-3: #fdeae6;
    --red-4: #ffdbd3;
    --red-5: #ffccc2;
    --red-6: #fabcb0;
    --red-7: #f2a79a;
    --red-8: #e98d7e;
    --red-9: #d03625;
    --red-10: #c02314;
    --red-11: #cd3322;
    --red-12: #5d261d;

    --red-a1: #fef8ff80;
    --red-a2: #df00f608;
    --red-a3: #f2003f15;
    --red-a4: #ffdbd3;
    --red-a5: #ffccc2;
    --red-a6: #f0120148;
    --red-a7: #de13015f;
    --red-a8: #d315017c;
    --red-a9: #c81300d9;
    --red-a10: #bb1001eb;
    --red-a11: #c51300dc;
    --red-a12: #470900e1;

    --red-contrast: #fff;
    --red-surface: #fdf5f5cc;
    --red-indicator: #d03625;
    --red-track: #d03625;
    --red-track-secondary: #a34843;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
        :root, .light, .light-theme {
            --red-1: oklch(99% 0.003 30.27);
            --red-2: oklch(98% 0.0072 30.27);
            --red-3: oklch(95% 0.0212 30.27);
            --red-4: oklch(92.2% 0.0459 30.27);
            --red-5: oklch(88.8% 0.0609 30.27);
            --red-6: oklch(84.8% 0.0746 30.27);
            --red-7: oklch(79.8% 0.091 30.27);
            --red-8: oklch(73.7% 0.1144 30.27);
            --red-9: oklch(56.8% 0.1933 30.27);
            --red-10: oklch(52.3% 0.1933 30.27);
            --red-11: oklch(55.9% 0.1933 30.27);
            --red-12: oklch(34.5% 0.0833 30.27);

            --red-a1: color(display-p3 0.9882 0.9686 1 / 0.445);
            --red-a2: color(display-p3 0.7529 0.0196 0.8431 / 0.032);
            --red-a3: color(display-p3 0.8 0.0078 0.2196 / 0.079);
            --red-a4: color(display-p3 0.8588 0.0118 0.0078 / 0.139);
            --red-a5: color(display-p3 0.8627 0.0588 0.0039 / 0.204);
            --red-a6: color(display-p3 0.8078 0.0667 0.0039 / 0.273);
            --red-a7: color(display-p3 0.749 0.0784 0.0039 / 0.362);
            --red-a8: color(display-p3 0.7137 0.0863 0.0039 / 0.472);
            --red-a9: color(display-p3 0.6902 0.0784 0 / 0.801);
            --red-a10: color(display-p3 0.6392 0.0745 0 / 0.858);
            --red-a11: color(display-p3 0.6863 0.0863 0 / 0.814);
            --red-a12: color(display-p3 0.2392 0.0353 0 / 0.87);

            --red-contrast: #fff;
            --red-surface: color(display-p3 0.9843 0.9608 0.9647 / 0.8);
            --red-indicator: oklch(56.8% 0.1933 30.27);
            --red-track: oklch(56.8% 0.1933 30.27);
            --red-track-secondary: oklch(0.519 0.122 25.367);
        }
    }
}