.playerControl {
    border: 0;
    background: transparent;

    .icon {
        color: #95908f;
        cursor: pointer;
        transition: all 0.15ms ease-in-out;

        &:hover {
            color: #958e8b;
        }
    }
}
