.container {
  width: 100%;
}
.progressBar::-webkit-slider-thumb {
  z-index: 4;
  position: relative;
}
.progressBar::before {
  transform: scaleX(var(--progress-width));
  z-index: 3;
}
.progressBar::after {
  transform: scaleX(var(--buffered-width));
  transform-origin: left;
  z-index: 2;
}