<!doctype html>
<html lang="{{ app.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any"/>
    <link rel="apple-touch-icon" href="/icon.svg"/>
    <title>Bånder</title>
    {{ vite_entry_link_tags('app') }}
    {{ vite_entry_script_tags('app', {dependency: 'react'}) }}
    <script>
        window.__BAANDER_API_URL__ = {{ api_url|json_encode|raw }};
    </script>
</head>
<body>
<div id="root"></div>
</body>
</html>
