.Root {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: inherit;
    height: 20px;
}

.Track {
    background-color: var(--gray-4);
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: 3px;
}

.RangeBuffer {
    position: absolute;
    background-color: var(--red-track-secondary);
    border-radius: 9999px;
    height: 100%;
}

.RangeProgress {
    background-color: var(--red-track);
    position: absolute;
    border-radius: 9999px;
    height: 100%;
}

.Thumb {
    cursor: pointer;
    display: block;
    width: 12px;
    height: 12px;
    background-color: var(--gray-2);
    box-shadow: 0 2px 8px var(--black-a6);
    border-radius: 7px;
    touch-action: cross-slide-x;
    &:hover {
        background-color: var(--violet-3);
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 0 5px var(--black-a8);
    }
}
