.scrollList {
  border-bottom: 1px solid #e0dddd;

  .title {
    margin-left: 3px;
  }

  table {
    border-spacing: unset;
  }

  thead {
    background-color: #fff;
  }
}

.bold {
  font-weight: 600;
}

.scrollbar {
  --sb-track-color: 'transparent';
  --sb-thumb-color: #828282;
  --sb-size: 6px;
}

.scrollbar::-webkit-scrollbar {
  width: var(--sb-size)
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar {
    scrollbar-color: var(--sb-thumb-color)
    var(--sb-track-color);
  }
}