.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  min-height: 80vh;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  margin-bottom: 10px;
}
