.dark, .dark-theme {
    --gray-1: #101114;
    --gray-2: #19191c;
    --gray-3: #222226;
    --gray-4: #29292f;
    --gray-5: #303137;
    --gray-6: #393a41;
    --gray-7: #464750;
    --gray-8: #5e606c;
    --gray-9: #6b6d7b;
    --gray-10: #797b89;
    --gray-11: #b1b3bf;
    --gray-12: #edeef1;

    --gray-a1: #0011d104;
    --gray-a2: #bcbcfb0c;
    --gray-a3: #cecefa17;
    --gray-a4: #cbcbf921;
    --gray-a5: #d2d9fe29;
    --gray-a6: #d5dafc34;
    --gray-a7: #d8dcfe44;
    --gray-a8: #dadffe62;
    --gray-a9: #dbdfff72;
    --gray-a10: #dfe3ff81;
    --gray-a11: #ebedfebb;
    --gray-a12: #fbfcfff0;

    --gray-contrast: #FFFFFF;
    --gray-surface: rgba(0, 0, 0, 0.05);
    --gray-indicator: #6b6d7b;
    --gray-track: #6b6d7b;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
        .dark, .dark-theme {
            --gray-1: oklch(17.8% 0.0057 279.2);
            --gray-2: oklch(21.4% 0.0053 279.2);
            --gray-3: oklch(25.4% 0.0072 279.2);
            --gray-4: oklch(28.4% 0.0096 279.2);
            --gray-5: oklch(31.3% 0.0112 279.2);
            --gray-6: oklch(34.9% 0.0129 279.2);
            --gray-7: oklch(40% 0.0154 279.2);
            --gray-8: oklch(49.1% 0.0199 279.2);
            --gray-9: oklch(53.9% 0.0219 279.2);
            --gray-10: oklch(58.5% 0.0213 279.2);
            --gray-11: oklch(76.9% 0.0172 279.2);
            --gray-12: oklch(94.9% 0.0036 279.2);

            --gray-a1: color(display-p3 0 0.0706 0.9725 / 0.013);
            --gray-a2: color(display-p3 0.7373 0.7373 0.9882 / 0.047);
            --gray-a3: color(display-p3 0.8196 0.8196 0.9922 / 0.089);
            --gray-a4: color(display-p3 0.8392 0.8392 1 / 0.122);
            --gray-a5: color(display-p3 0.8471 0.8745 1 / 0.156);
            --gray-a6: color(display-p3 0.8588 0.8784 1 / 0.198);
            --gray-a7: color(display-p3 0.8627 0.8784 0.9961 / 0.261);
            --gray-a8: color(display-p3 0.8627 0.8824 0.9961 / 0.379);
            --gray-a9: color(display-p3 0.8667 0.8863 1 / 0.442);
            --gray-a10: color(display-p3 0.8784 0.8941 0.9961 / 0.5);
            --gray-a11: color(display-p3 0.9294 0.9412 1 / 0.727);
            --gray-a12: color(display-p3 0.9843 0.9882 1 / 0.942);

            --gray-contrast: #FFFFFF;
            --gray-surface: color(display-p3 0 0 0 / 5%);
            --gray-indicator: oklch(53.9% 0.0219 279.2);
            --gray-track: oklch(53.9% 0.0219 279.2);
        }
    }
}